/node_modules
/public/hot
/public/storage
/public/css
/public/js/
/public/fonts
/redis-2.4.5-win64
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
