.product-cell > .control-icons{ 
    font-size: 14pt;
    color: #afaeae;
    background-color: white;

    position: absolute;
    top: 0;
    right: 15px;

    padding: 0 7px;
    border-radius: 2px;
}

.product-cell > a{
    color: #343a40;
}

.product-cell > a:hover{
    color: #343a40;
    text-decoration: none;
}

    .product-cell > a > div{
        height: 100%;
    }

    .product-cell-content{
        height: 100%;
    }

        .product-cell-content > .image > img{
            width: 100%;
        }